.container {
  margin: 20px auto;
}

.searchInput {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #00000082;
  padding: 4px;
}

.searchIconWrapper {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #303030;
}

.toolbar {
  padding-left: 0 !important;
}
