.footer {
  margin-top: 40px;
  text-align: center;
  padding: 5px 20px 20px 20px;
  color: #cacaca;
  background-color: #2b2b2b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: small;
  margin-top: 5px;
}

.footer h3 {
  font-size: medium;
  margin-bottom: 5px;
}

.footer hr {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  margin: 15px auto;
}

.footer-section p {
  display: inline-block;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: auto;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  width: 20px !important;
  height: 20px !important;
  color: #cacaca;
}

.social-icons p,
.social-icons a {
  margin: 0;
  padding: 0;
}

.social-icon {
  width: 20px !important;
  height: 20px !important;
}


.version {
  text-align: center;
  font-size: xx-small;
}

.copyright {
  font-size: small;
}

.disclaimer {
  font-size: xx-small;
  text-align: justify;
}