body {
  margin: 0px;
  font-family: var(--font-poppins);
}

*,
MuiTypography-root {
  font-family: var(--font-poppins) !important;
}

#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 260px;
  margin-top: 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.professor-detail-avatar {
  width: 120px !important;
  height: 120px !important;
  text-align: center;
}

.banner-desktop {
  display: block !important;
}

.loading {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 50vh;
  text-align: center;
}

.app-bar {
  background: none !important;
  box-shadow: none !important;
}

.divider {
  padding: 5px;
  margin: 2px auto;
}

.banner-mobile {
  display: none !important;
}
.banner-mobile a {
  -webkit-tap-highlight-color: transparent;
}

.sub-container {
  max-width: 1200px;
  padding: 5px 20px;
  margin: auto;
  min-height: 60vh;
}

h3 {
  font-weight: 700;
}

.custom-desktop-link-style {
  color: #ececec;
  text-decoration: none !important;
}

.container {
  margin-top: 80px;
}

.about p {
  padding-bottom: 20px;
}

.professor-card,
.university-card {
  cursor: pointer;
}

.homepage-avatar {
  text-align: -webkit-center;
  position: relative;
  width: 100px;
  cursor: pointer;
  margin: 0 auto;
  user-select: none;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}

.homepage-avatar p {
  font-size: small;
  margin-bottom: 2px;
  font-weight: 500;
}

.homepage-avatar:active {
  transform: scale(0.9);
}

.professor h2 {
  font-weight: 600;
  margin-bottom: 1px;
}

.professor h3 {
  font-weight: 600;
  margin-bottom: 8px;
}

.professor h4 {
  font-weight: 600;
  margin: 1px auto;
}

.professor p {
  font-size: small;
  margin: 1px auto;
}

.student-name {
  font-size: medium;
  margin: 1px auto;
  font-weight: 500;
  color: #2b2b2b;
}

.professor small {
  font-size: x-small;
  margin: 1px auto;
}

.professor hr {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  margin: 1px auto;
}

.card {
  text-align: -webkit-center;
  margin-top: 20px;
}

.single-card {
  position: relative;
  transition: transform 0.25s ease-in-out !important;
}

.single-card:hover {
  transform: scale(1.1);
}

.loading-heading {
  margin-top: 25px;
  margin-bottom: 2px;
}

.loading-text {
  margin-top: 2px;
}

.list-item {
  min-width: "40px" !important;
}

@media screen and (max-width: 850px) {
  .menubar {
    margin-left: 10px;
  }

  .menubar-items {
    margin-right: 10px;
  }
}

@media screen and (max-width: 700px) {
  .swiper {
    height: 220px;
    margin-top: 50px;
  }

  .container {
    margin-top: 60px;
  }

  .menubar {
    margin-left: 0px;
  }

  .menubar-items {
    margin-right: 0px;
  }

  .sub-container {
    padding: 5px 20px;
  }

  .banner-mobile {
    display: block !important;
  }

  .banner-desktop {
    display: none !important;
  }

  .professor-detail-avatar {
    width: 120px !important;
    height: 120px !important;
  }
}

@media screen and (max-width: 500px) {
  .swiper {
    height: 180px;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .homepage-avatar:hover {
    transform: scale(1.1);
  }
}
