body {
  margin: 0px;
  font-family: var(--font-poppins);
}

#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 260px;
  margin-top: 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-box {
  margin-top: 10px;
}

.professor-detail-avatar{
  width: 120px !important;
  height: 120px !important;
  text-align: center;
}

.banner-desktop{
  display: block !important;
}

.loading{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 50vh;
  text-align: center; 
}

.app-bar {
  background: none !important;
  box-shadow: none !important;
}

.divider {
  padding: 5px;
  width: 90%;
  margin: 2px auto;
}

.banner-mobile{
  display: none !important;
}

.sub-container {
  padding: 5px 160px;
}

h3 {
  font-weight: 700;
}

.custom-desktop-link-style{
  color: #ececec;
  text-decoration: none !important;
}



footer{
  margin-top: 40px;
  text-align: center;
  padding: 5px 20px 20px 20px;
  color: #cacaca;
  background-color: #2b2b2b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menubar{
  margin-left: 135px;
}

.menubar-items{
  margin-right: 135px;
}

footer p{
  font-size: small;
  margin-top: 5px;
}

footer h3{
  font-size: medium;
  margin-bottom: 5px;
}

footer hr{
  background-color:#7e7e7e;
  border-color: #7e7e7e;
  margin: 15px auto;
}

.copyright{
  font-size: small;
}

.disclaimer{
  font-size: xx-small;
  text-align: justify;
}
.container{
  margin-top: 80px;
}

.about p{
  padding-bottom: 20px;
}

.homepage-avatar{
  text-align: -webkit-center;
  position: relative;
  transition: transform 0.25s ease-in-out;
}

.homepage-avatar p{
  font-size: small;
  margin-bottom: 2px;
  font-weight: 500;
}


.homepage-avatar:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

.professor h2{
  font-weight: 600;
  margin-bottom: 1px;
}

.professor h3{
  font-weight: 600;
  margin-bottom: 8px;
}

.professor h4{
  font-weight: 600;
  margin: 1px auto;
}

.professor p{
  font-size: small;
  margin: 1px auto;
}

.student-name{
  font-size: medium;
  margin: 1px auto;
  font-weight: 500;
  color: #2b2b2b;
}

.professor small{
  font-size: x-small;
  margin: 1px auto;
}

.professor hr{
  background-color:#e6e6e6;
  border-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  margin: 1px auto;
}


.card{
  text-align: -webkit-center;
  margin-top: 20px;
}

.single-card{
  position: relative;
  transition: transform 0.25s ease-in-out;
}

.version{
  text-align: center;
  font-size: xx-small;
}

.single-card:hover{
  transform:scale(1.1)
}

.footer-section p{
  display: inline-block;
}

.social-icons{
  display: inline-block;
}

.social-icons a{
  margin-left: 10px;
  text-decoration: none;
  color: #cacaca;
}

.loading-heading{
  margin-top: 25px;
  margin-bottom: 2px;
}

.loading-text{
  margin-top: 2px;
}

.custom-link-style{
  color: #2b2b2b;
  text-decoration: none !important;
  padding: 50px 10px;
}

.custom-link{
  text-decoration: none !important;
}

.list-item{
  min-width: "40px" !important;
}

.drawer{
  padding: 20px 10px;
}



@media screen and (max-width: 700px) {
  .swiper {
    height: 220px;
    margin-top: 50px;
  }

  .container{
    margin-top: 60px;
  }
  
  .menubar{
    margin-left: 0px;
  }

  .sub-container {
    padding: 5px 25px;
  }

  .banner-mobile{
    display: block!important;
  }

  .banner-desktop{
    display: none !important;
  }

  .professor-detail-avatar{
    width: 120px !important;
    height: 120px !important;
  }
}

@media screen and (max-width: 500px) {

  .swiper {
    height: 180px;
    margin-top: 50px;
  }
}
