.appBar {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.drawer {
  padding: 20px 10px;
}


.custom-link-style {
  color: #2b2b2b;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
}

.custom-link {
  text-decoration: none !important;
}

.title {
  min-width: max-content;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.menubarItems {
  display: none;
}

@media (min-width: 600px) {
  .menubarItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-left: auto;
  }
}
