.container {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  gap: 28px;
  justify-content: space-between;
  text-align: -webkit-center;
  margin-top: 20px;
}

.card {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.071);
  transition: all 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, minmax(320px, 1fr));
  }
}
