.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-content: space-around;
}

.ratingCount {
  font-size: x-small !important;
  margin-top: 2px !important;
  color: #858585;
}
