.professorCard {
  border-radius: 10px;
  box-shadow: 1px 1px 8px #00000017;
  overflow: hidden;
  padding: 16px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  transition: all 0.25s ease;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.professorCard:active {
  transform: scale(0.9);
}
.image {
  flex: 1;
}
.details {
  flex: 2;
  text-align: left;
}
.details h3,
.college {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.college p{
    font-size: small;
    margin: 0;
    padding: 0;
}

.details h3 {
  font-size: medium;
  font-weight: 600;
}


@media (min-width: 768px) {
  .professorCard:hover {
    box-shadow: 1px 1px 16px #00000017;
    transform: scale(1.05);
  }
}
