.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.professorImage,
.professorDetails {
  padding: 8px;
}

.professorImage {
  flex: 1;
  justify-content: center;
  display: flex;
}

.professorDetails {
  flex: 2;
}

.professorDetails h2 {
  margin-top: 0;
}

@media (min-width: 768px) {
  .professorImage {
    flex: 1;
  }

  .professorDetails {
    flex: 3;
  }
}
